html, body {
  height: 100%;
  width: 100%;
  font-family: times;
  font-weight: 200;
}

a {
  color: #000;
  text-decoration: none
}

a:hover {
  opacity: .5
}

hr { 
  border: 0; 
  width: 700px;
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#nav {
  text-align: center;
  margin-bottom: 15px
}

#logo {
  width: 500px;
}

#content{
  max-width: 700px;
  margin:auto;
  padding: 20px;
  text-align: center
}

#social{
  margin-top: 15px;
  text-align: center
}

.slideshow {
  max-height: 400px;
  display:block;
  margin:auto;
}

.social_icon {
  width: 50px;
  padding: 5px;
}

/*DROPDOWN MENUS*/

.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 10px;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #fff;
  opacity: .8;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 10pt;
  color: black;
  padding: 7px 5px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
