{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>A Message from the President</h2>
<br>
<div id='president'>
  <!-- <img id='president-pic' src="{% static 'general/images/siena.png' %}"/> -->
  <img id='president-pic' src="{{pres.profile_image.url}}"/>
  <div id='pcaption'>
    <h2>{{pres.first_name}} {{pres.last_name}}</h2>
    Chapter President
  </div>
</div>
<p class='left-align'>
Hello and welcome! It is with great pride that I introduce you to our sorority of Alpha Chi Omega, Theta Omicron Chapter, here at MIT. 
<br><br> 
Alpha Chi Omega was founded in 1885 under the motto “Real. Strong. Women.” I have never heard such an appropriate tagline. The women in my sorority are strong in will, talent, and compassion. They are astoundingly kind and impressively intelligent (even within MIT!). Their capacities for love and support exceed all bounds and never cease to inspire me to be a kinder, more giving person. Our chapter is also proudly involved in the MIT community. My sisters here are engineers and biologists, artists and athletes. They are putting rockets into space and advocating for science in the nation's capital, running in marathons and running student groups. 
<br><br> 
As an organization built by and for real, strong women, we recognize the importance of supporting women outside of our own organization. Our philanthropy, domestic violence awareness, is a major global issue that needs a strong voice. The women of Alpha Chi Omega stand behind this cause to help make our community and the world a safer and more positive place for all individuals affected by domestic violence. As a chapter, we work to promote and educate on healthy relationships within our MIT community, as well as shed light on the evils of domestic violence. I invite you to visit our Philanthropy page to learn more about our dedication to this cause.
​<br><br> 
Alpha Chi Omega gave me a home at MIT. These women are now my closest friends and most reliable support network. They are the women I turn to when MIT knocks me down and are the women I celebrate with when life picks me back up. My sisters make me feel both instantly at home and inspired to become like the accomplished, respectable, and compassionate women I call sisters. 
<br><br> 
So thank you again for stopping by our website. I hope it gives you a glimpse into the love and sisterhood that I have found here as an Alpha Chi Omega.
</p><br>
<div id='signature'>
  <h3>{{pres.first_name}} {{pres.last_name}}</h3>
  <a href='mailto:axo-president@mit.edu'>axo-president@mit.edu</a>
</div>
{% endblock content %}