{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>A Message from the President</h2>
<br>
<div id='president'>
  <img id='president-pic' src="{{pres.profile_image.url}}"/>
  <div id='pcaption'>
    <h2>{{pres.first_name}} {{pres.last_name}}</h2>
    Chapter President
  </div>
</div>
<p class='left-align'>

Hello and welcome! My name is Gabrielle Enns and I have the honor of serving as President of the Theta Omicron chapter of Alpha Chi Omega here at MIT. It is my great pride to introduce you to who we are.
<br><br>
Alpha Chi Omega was founded in 1885 at DePauw University by seven “Real. Strong. Women.”. In 1985, MIT’s own real strong women founded the Theta Omicron chapter of Alpha Chi Omega. This simple motto of “Real. Strong. Women.” is the core tenet of who we are in AXO. In every chapter across the country, you will find women who are bold, kind, intelligent, creative, genuine and much, more more. Here at MIT, you will find sisters who truly showcase the best of Alpha Chi Omega through their involvement in an array of organizations and activities.
<br><br>
At MIT, our sisters exemplify our second motto of “Together let us seek the heights” by chasing their dreams. We have sisters designing rockets, developing innovative consumer products, publishing papers on climate change, and researching cancer treatments. We have sisters running marathons, creating beautiful artwork, choreographing dance routines, and singing their hearts out. When you see one AXO performing to her fullest, you can be sure to find many more sisters cheering her on.
<br><br>
Not only do we celebrate and value the real strong women of the world, we also seek to support women both inside and outside of our chapter. We are women empowering women. Through our philanthropy of domestic violence awareness, we raise our voices to combat the global issue of domestic and sexual violence. In partnership with the Boston Area Rape Crisis Center, the Theta Omicron chapter works to make the Boston community a safer and brighter place for all individuals affected by sexual violence. We also work to promote healthy relationships within our MIT community and raise awareness of the characteristics and dangers of domestic violence.
<br><br>
The Theta Omicron chapter of Alpha Chi Omega at MIT is a family of amazingly talented and kind women. Here, you can always find a sister ready to celebrate your achievements or lend you a shoulder to cry on when things get tough. I am so proud to call myself part of this family of women who truly push each other to be the best and brightest versions of themselves.
<br><br>
Thank you for stopping by to learn about who we are at Alpha Chi Omega. It is a joy to share with you the beauty of our sisterhood, and I hope you get to experience the friendship of an AXO yourself, whether it be at MIT or elsewhere in the world.
<br><br>

<div id='signature'>
  <h3>{{pres.first_name}} {{pres.last_name}}</h3>
  <a href='mailto:axo-president@mit.edu'>axo-president@mit.edu</a>
</div>
{% endblock content %}
