{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>A Message from the President</h2>
<br>
<div id='president'>
  <img id='president-pic' src="{% static 'general/images/siena.png' %}"/>
  <div id='pcaption'>
    <h2>Siena Scigliuto</h2>
    Chapter President
  </div>
</div>
<p class='left-align'>
Hello and welcome to Alpha Chi Omega at the Massachusetts Institute of Technology - my home within a home at MIT! These women you see here are the core of my community at MIT: My study partners, my favorite people to explore Boston with, the role models I look up to, and my constant supporters whenever I need a hand or a shoulder. When I came to MIT, I never expected to be in a sorority, but I can definitely say I am a better - and happier - person for my experience with AXO.

<br><br> 
MIT is a tough place. As an engineer here, I'm constantly being pushed to my limits mentally and even physically (How much sleep do you think you need, really?). It's easy to get lost in the daily struggle of psets and classes. Or rather, it would be if I didn't have an incredible support system to keep me grounded and inspired. AXO is all about building a healthy and well-rounded life within the MIT firehose, being passionate about what we do, and every day living up to our motto of Real Strong Women. My sisters here are engineers and biologists, artists and athletes. They are putting rockets into space and advocating for science in the nation's capital, running in marathons and running student groups. I can't say how much I'm honored to serve this year as Chapter President and to represent all of these amazing women.
<br><br> 
Our chapter is involved both on and off campus. Sisters participate in almost every organization at MIT, from DanceTroupe to the Society of Women Engineers. As a chapter we volunteer and host events to support Alpha Chi Omega's national philanthropy, domestic violence awareness, and our local partner the Boston Area Rape Crisis Center. Within our chapter and as part of the Panhellenic community, we work to promote the wellbeing and growth of our sisters in areas such as mental health and leadership. Over the past few years, I have had the opportunity to grow as a leader in this organization and I can say without a doubt that it has been one of the biggest influences on my leadership development.
​<br><br> 
Greek life at MIT is important to everyone involved - as a home, a family, and a support system. Our sisterhood lasts beyond our four years here, and it's exciting to think I've only just scratched the surface of everything we can become. I'm proud to be a part of this sisterhood, proud to be this year's Chapter President, and proud to "Seek the Heights" as an Alpha Chi Omega and an MIT Engineer.
 <br><br> 
Thank you for taking the time to explore our website and learn more about Alpha Chi Omega!
</p><br>
<div id='signature'>
  <h3>Siena Scigliuto</h3>
  <a href='mailto:axo-president@mit.edu'>axo-president@mit.edu</a>
</div>
{% endblock content %}