{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Alumni</h2><br>

<img id="alum-pic" src="{% static 'general/images/alumni.png' %}" />
<p class='left-align'> 
    <big>Our Theta Omicron Chapter alumni community has 788 members - and is growing!</big>
    <br><br>
    As sisters of Alpha Chi Omega, we are tied to our alumnae by an unbreakable bond.  Our alumnae serve as our mentors, our friends, and, most importantly, our sisters.  Alpha Chi Omega’s motto is “Together Let Us Seek the Heights;” thus, each sister, whether a newly initiated freshman or an alumna long past her college days, does all she can to help her fellow sister succeed.  Alpha Chi Omegas are not satisfied until each sister has accomplished her goals and fulfilled her desire to become a better woman – until she has reached “the Heights.”  This is manifested in the endless support provided to us by our incredible alumnae. We are proud to have so many incredible alumnae sisters, and honored to be seeking the heights with them by our sides.
    <br><br>
    Make sure to keep your information up-to-date with the MIT Alumni association at <u><a href="alum.mit.edu">alum.mit.edu</a></u>.
    <br><br>
    Keep up with active sisters and upcoming events through our <u><a href="https://www.facebook.com/MitAlphaChiOmega/">Facebook</a></u>, <u><a href="https://www.instagram.com/axo_mit/">Instagram</a></u>, and <u><a href="http://axomit.tumblr.com/">Tumblr</a></u>!
</p>
{% endblock content %}