{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<div align="center">

<img class="center" id="blm-pic-1" width="300" height="300" src="{% static 'general/images/blm.png' %}"><br>
<h4>contact <a href='mailto:axo-vpprm@mit.edu'>axo-vpprm@mit.edu</a> to add/modify resources</h4><br>

<p>In light of current events and the recent deaths of  Breonna Taylor, Ahmaud Arbery, George Floyd, and many others, we want to stress that we stand in solidarity with Black communities and are strong advocates of the Black Lives Matter movement. We hear you and stand with you.
We also recognize and acknowledge that Greek communities are historically racist and discriminatory institutions, and that many within our community have benefitted from this system. With this in mind, we are committed to educating ourselves and engaging those around us in difficult conversations. It is important to applaud, join, and amplify the voices of those speaking out against racism, police brutality, and other forms of oppression.</p> <br />

<p>While posting statements and voicing support on social media is important, words are not enough. Condemning racism is not enough. We need to be actively anti-racist. We have compiled some resources to help us in that effort.</p> <br />

<h3>AXO Daily Digest</h3><br>

<p> Members of the MIT community can click <a href='https://groups.mit.edu/webmoira/list/axo-blm' target="_blank">HERE</a> and add themselves to the mailing list to subscribe to daily digest of information that can be used for education and taking action. If you are not part of the MIT community but would still like to view the digests, click <a href='https://drive.google.com/drive/folders/1mSG75Z9EmYGGLY_hmqnXqkx9eyjGNr-i?usp=sharing' target="_blank">HERE</a>. Many of the following resources have been featured in the digests.</p><br>

<h3>Donate</h3><br>
<p>

    <a href='https://secure.actblue.com/donate/ms_blm_homepage_2019' target="_blank">Black Lives Matter</a><br>

    <a href='https://www.gofundme.com/f/georgefloyd' target="_blank">George Floyd Memorial Fund</a><br>

    <a href='https://thelovelandfoundation.org/' target="_blank">The Loveland Foundation</a><br>

    <a href='https://www.joincampaignzero.org/' target="_blank">Campaign Zero</a><br>

    <a href='https://org2.salsalabs.com/o/6857/p/salsa/donation/common/public/?donate_page_KEY=15780&_ga=2.231342234.480782673.1591028794-1029022299.1591028794' target="_blank">NAACP Legal Defense and Educational Fund</a><br>

    <a href='https://secure.actblue.com/donate/bail_funds_george_floyd' target="_blank">Community Bail Funds</a><br>

    <a href='https://action.aclu.org/give/fund-every-fight-ahead' target="_blank">The ACLU</a><br>

    <a href='https://secure.actblue.com/donate/blackpatients?ak_proof=1&akid=42394.5191726.pitPAa&amount=5&rd=1&recurring=1&refcode=stage1_nondonors_link1&refcode2=42394_5191726_pitPAa&t=3' target="_blank">Color of Change</a><br>

    <a href='https://www.reclaimtheblock.org/home' target="_blank">Reclaim the Block</a><br>

    <a href='https://www.cuapb.org/' target="_blank">Communities Against Police Brutality</a><br>

    <a href='https://eji.org/' target="_blank">Equal Justice Initiative</a><br>

    <a href='https://fairfight.com/' target="_blank">Fair Fight</a><br>

    <a href='https://www.brennancenter.org/' target="_blank">Brennan Center for Justice</a><br>

    <a href='https://cpj.org/donate' target="_blank">The Committee to Protect Journalists</a><br>

    <a href='https://donate.splcenter.org/' target="_blank">Southern Poverty Law Center</a><br>
</p><br>

<h3>Books to Read</h3><br>
<p>
    <i>So You Want to Talk About Race</i> by Ijeoma Oluo <br>
    <i>The New Jim Crow</i> by Michelle Alexander <br>
    <i>Their Eyes Were Watching God</i> by Zora Neale Hurston <br>
    <i>White Fragility: Why It's So Hard for White People to Talk about Racism</i> by Robin DiAngelo <br>
    <i>How to Be an Antiracist</i> by Ibram X. Kendi <br>
    <i>Why I’m No Longer Talking to White People About Race</i> by Reni Eddo-Lodge <br>
    <i>Hood Feminism: Notes From The Women That The Movement Forgot</i> by Mikki Kendall <br>
    <i>Stamped: Racism, Antiracism, and You</i> by Jason Reynolds and Ibram X. Kendi <br>
    <i>Ain't I a Woman: Black Women and Feminism</i> by bell hooks <br>
</p>

<h3>Other Resources</h3><br>
<p>
    <a href='https://drive.google.com/drive/folders/1A6qtd_hnMmTzpPtIOxA5ivKvwbtBzbEx?usp=sharing' target="_blank">AXO Google Drive</a>

    <a href='https://blacklivesmatters.carrd.co/' target="_blank">blacklivesmatters.carrd.co</a>
</p>


<br>

</div>

{% endblock content %}
