{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<div align="center">

<h2>Black Lives Matter</h2><br>
<h4>contact <a href='mailto:axo-vpprm@mit.edu'>axo-vpprm@mit.edu</a> to add/modify resources</h4><br>

<p>In light of current events and the recent deaths of  Breonna Taylor, Ahmaud Arbery, George Floyd, and many others, we want to stress that we stand in solidarity with Black communities and are strong advocates of the Black Lives Matter movement. We hear you and stand with you.
We also recognize and acknowledge that Greek communities are historically racist and discriminatory institutions, and that many within our community have benefitted from this system. With this in mind, we are committed to educating ourselves and engaging those around us in difficult conversations. It is important to applaud, join, and amplify the voices of those speaking out against racism, police brutality, and other forms of oppression.</p> <br />

<p>While posting statements and voicing support on social media is important, words are not enough. Condemning racism is not enough. We need to be actively anti-racist. We have compiled some resources to help us in that effort.</p> <br />

<h4>AXO Daily Digest</h4><br>

<p> Members of the MIT community can click <a href='https://groups.mit.edu/webmoira/list/axo-blm' target="_blank">here</a> and add themselves to the mailing list to subscribe to daily digest of information that can be used for education and taking action. If you are not part of the MIT community but would still like to view the digests, click <a href='https://drive.google.com/drive/folders/1mSG75Z9EmYGGLY_hmqnXqkx9eyjGNr-i?usp=sharing' target="_blank">here</a>. Many of the following resources have been featured in the digests.</p><br>

<br>

</div>

{% endblock content %}
