{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Our Executive Board</h2><br>

<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>Chapter President</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Chapter Relations + Standards</h3>Berd</p>
</div><br>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Finance</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Risk Management</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Ritual + Fraternity Appreciation</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Recruitment</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP New Member Education</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Public Relations + Marketing</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Membership Programming</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>Panhellenic Delegate</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Intellectual Development</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Facility Operations</h3>Berd</p>
</div>
<div class='officer'>
  <img class='officer-pic' src="{% static 'general/images/berd.png' %}"/>
  <p><h3>VP Philanthropy</h3>Berd</p>
</div>


{% endblock content %}