{% extends 'general/base.html' %}
{% load static %}
{% block content %}
<h2>Frequently Asked Questions</h2><br>
<img id="faq-pic" src="{% static 'general/images/faq_PRC.jpg' %}">
<p class='left-align'>
New members bring excitement each year to the Theta Omicron chapter. During Formal Recruitment in the fall, potential new members are guided through the recruitment process with the hope that they will fall in love with their future sorority.
<br><br>
<big><strong>What is recruitment?</strong></big>
​<br><br>
Recruitment is a four-day process where girls get to know each of the seven sororities on our campus. During the visit you will meet active members of each chapter that will provide more information and have fun conversations with you! Through this mutual selection process potential new members learn the ideals of each sorority including their philanthropy, sisterhood and social events.
<br><br>
<big><strong>What should I consider when choosing a sorority?</strong></big>
​<br><br>
Many girls ask themselves a number of questions when deciding which sorority truly fits them. Some questions to consider when in this position:
What values do I admire most?
​What girls could I call at any time of the day?
Which chapter do I see myself spending my college career in?
Which chapter has similar values to my own?
What girls seemed the most genuine?
What letters would I be proud to wear on a daily basis
Which chapter fits my budget the best?
<br><br>
The best advice we can give you when meeting actives from each chapter is to be yourself! This is the guaranteed way for you to land the best chapter for you that will provide you with the best opportunities and even better friends and memories.
<br><br>
<big><strong>Why should I go Greek?</strong></big>
​<br><br>
1. You become part of a friendship circle and ever-growing network.<br>
Friends will be a big part of your support system throughout your lifetime. Countless individuals have bonded with fellow Greek members, and built amazing friendships and networks.<br>
2. You'll succeed academically.<br>
Sororities at MIT will greatly add onto your academic experience. The average GPA of sorority women on campus is 4.48/5.0. Having upperclassmen sisters is very helpful as they can help you navigate your classes and beginning of your careers.<br>
3. You'll have a public service commitment. <br>
Greek undergraduates raise about $7 million a year for local and national charities.
<br><br>
<big><strong>Does Alpha Chi Omega haze their new members?</strong></big>
<br><br>
Absolutely not. There is no hazing of any kind and in fact, your new member period will be filled with fun sisterhood events to help you get to know your new member class and the rest of the chapter. You will also most likely be showered with presents during the process of being paired with a big sister.
</p>


<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>
{% endblock content %}
