{% extends 'general/base.html' %}
{% load static %}
{% block content %}
<h2>Frequently Asked Questions</h2><br>
<img id="faq-pic" src="{% static 'general/images/faqpic.jpg' %}">
<p class='left-align'>
New members bring excitement each year to the Theta Omicron chapter. During Formal Recruitment in the fall, potential new members are guided through the recruitment process with the hope that they will fall in love with their future sorority.
<br><br>
<big><strong>What is recruitment?</strong></big>
​<br><br>
Recruitment is a four-day process where girls get to know each of the seven sororities on our campus. During the visit you will meet active members of each chapter that will provide more information and have fun conversations with you! Through this mutual selection process potential new members learn the ideals of each sorority including their philanthropy, sisterhood and social events.
<br><br>
<big><strong>What should I consider when choosing a sorority?</strong></big>
​<br><br>
Many girls ask themselves a number of questions when deciding which sorority truly fits them. Some questions to consider when in this position:
What values do I admire most?
​What girls could I call at any time of the day?
Which chapter do I see myself spending my college career in?
Which chapter has similar values to my own?
What girls seemed the most genuine?
What letters would I be proud to wear on a daily basis?
Which chapter fits my budget the best?
<br><br>
The best advice we can give you when meeting actives from each chapter is to be yourself! This is the guaranteed way for you to land the best chapter for you that will provide you with the best opportunities and even better friends and memories.
<br><br>
<big><strong>Does Alpha Chi Omega haze their new members?</strong></big>
<br><br>
Absolutely not. Alpha Chi Omega does not permit hazing of any kind and in fact, your new member period will be filled with fun sisterhood events to help you get to know your new member class and the rest of the chapter. We try to be as welcoming as possible to our new members and would never force anyone to be humiliated or hurt in any way.
<br><br>
<big><strong>How much does Alpha Chi Omega cost?</strong></big>
<br><br>
As with any Greek organization, sisters of Alpha Chi Omega pay dues each semester. For a member's first semester, dues are $417. Regular sisters have dues of around $470 per semester. Many sisters pay their dues with earnings from UROPs, campus jobs, or summer internships. Additionally, AXO and MIT Panhel offer scholarships and other methods to help sisters bear the burden of dues. For Fall 2020, dues will be significantly reduced from the stated numbers.
<br><br>
<big><strong>Do members of Alpha Chi Omega have to move into the house?</strong></big>
<br><br>
Moving into the house is not mandatory, but we usually have no problem filling the house with over two dozen sisters. Living in the house is a great experience and can be even cheaper than living on campus.
</p>


<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>
{% endblock content %}
