{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Our History</h2><br>
<div id='history'>
  <img class='history-pic' src="{% static 'general/images/symbols.png' %}"/>
  <img class='history-pic' src="{% static 'general/images/motto.png' %}"/>
  <img class='history-pic' src="{% static 'general/images/colors.png' %}"/>
  <p id='history-caption'><i>These symbols and traditions represent who we are and what we value, creating a bond of sisterhood that connects through time and space.</i></p>
</div>
<p class='left-align'>
Alpha Chi Omega was founded on October 15, 1885, at Depauw University in Greencastle, Indiana. At a time when women were just beginning to occupy seats in college classrooms, our founders were inspired to form the sixth women's fraternity in the country. One week after their initial founding, Alpha Chi Omega's Founders and their first new members made their presence known. 
​<br><br>
<!-- <img class='history-pic' src="{% static 'general/images/history1.png' %}"/><br> -->
Alpha Chi Omega was founded to provide the advancement of intellectual, moral, and social culture of its members.  Today, it has become a way for unique, talented, genuine women to enhance their college experience in a meaningful way. There are over 135 collegiate chapters and 200 alumnae chapters across the country. With strength in numbers, there are 230,000 real, strong women who will stand by your side, cheer you on, and lead you to a lifetime of fun, fulfillment, leadership, and inspiration.
​<br><br>
<!-- <img class='history-pic' src="{% static 'general/images/history22.png' %}"/><br> -->
Whether wearing the lyre badge with pride during a ritual ceremony, volunteering at a women’s shelter or networking with sisters across the country to land your dream job, Alpha Chi Omega is a chance to be your authentic self, while surrounded by sisters who are just as unique. For more information on our national organization, please visit: http://www.alphachiomega.org/.
</p>

{% endblock content %}