{% extends 'general/base.html' %}
{% load static %}
{% block content %}


<img class="slideshow" src="{% static 'general/images/P1.png' %}">
<img class="slideshow" src="{% static 'general/images/P2.png' %}">
<img class="slideshow" src="{% static 'general/images/P3.png' %}">
<img class="slideshow" src="{% static 'general/images/P4.png' %}">
<img class="slideshow" src="{% static 'general/images/P5.png' %}">
<button class="left" onclick="switchimg(-1)">&#10094;</button>
<button class="right" onclick="switchimg(+1)">&#10095;</button>

<script src="{% static 'general/scripts/slideshow.js' %}"></script>
{% endblock content %}