{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Involvement</h2>
<br>
<p>No matter what you're interested in, there's bound to be an AXO involved the same thing! Here are some of the clubs and organizations we're involved in on campus:</p>
<br>
<ul align="left">
	<li>Amphibious Achievement</li>
	<li>Asian American Association</li>
	<li>Asian Dance Team</li>
	<li>Bernard M. Gordon-MIT Engineering Leadership Program (GEL)</li>
	<li>Brain and Cognitive Sciences Society</li>
	<li>Camp Kesem</li>
	<li>MIT Chamber Chorus</li>
	<li>Chinese Students Club</li>
	<li>CodeIt</li>
	<li>Colleges Against Cancer</li>
	<li>Dancetroupe</li>
	<li>MIT Energy Initiative</li>
	<li>MIT Figure Skating Club</li>
	<li>Fixation</li>
	<li>GlobeMed</li>
	<li>Harvard-MIT Mathematics Tournament</li>
	<li>MedLinks</li>
	<li>MIT Hillel</li>
	<li>MIT BrainTrust</li>
	<li>MIT Consulting Group</li>
	<li>MIT EMS</li>
	<li>MIT Motorsports</li>
	<li>MIT Solar Electric Vehicle Team</li>
	<li>Mocha Moves</li>
	<li>Puppy Lab</li>
	<li>Resonance</li>
	<li>Ridonkulous</li>
	<li>Sloan Business Club</li>
	<li>Society of Women Engineers</li>
	<li>TechX</li>
	<li>Undergraduate Association</li>
	<li>Undergraduate Energy Club</li>
	<li>Vagina Monologues</li>
	<li>Varsity Cross Country</li>
	<li>Varsity Rifle Team</li>
	<li>Varsity Soccer</li>
	<li>Varsity Softball</li>
	<li>Varsity Swimming and Diving</li>
	<li>Varsity Track and Field</li>
	<li>Varsity Volleyball</li>
	<li>MIT Wind Ensemble</li>
	<li>Women in Aerospace Engineering</li>
</ul>

{% endblock content %}