{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Outside MIT</h2>
​<br>
<p>Our sisters have held internships and positions at various companies in the US and abroad.  Here are some of the companies for which sisters have worked:</p>
<br>
<ul align="left">
	<li>Apple</li>
	<li>Bloomberg</li>
	<li>Boeing</li>
	<li>Bose</li>
	<li>Capital One</li>
	<li>Cisco Meraki</li>
	<li>ExxonMobil</li>
	<li>Facebook</li>
	<li>Ford</li>
	<li>Genentech</li>
	<li>General Dynamics</li>
	<li>Goldman Sachs</li>
	<li>Google</li>
	<li>Hudson River Trading</li>
	<li>J.P. Morgan</li>
	<li>Lockheed Martin</li>
	<li>Massachusetts Eye and Ear Infirmary</li>
	<li>Massachusetts General Hospital</li>
	<li>Merck</li>
	<li>Microsoft</li>
	<li>Milwaukee Electric Tool Corporation</li>
	<li>MongoDB</li>
	<li>Morgan Stanley</li>
	<li>NASA Jet Propulsion Laboratory</li>
	<li>NASA Goddard Space Flight Center</li>
	<li>National Institute of Health</li>
	<li>Northrop Grumman Corporation</li>
	<li>Shell</li>
	<li>SpaceX</li>
	<li>Tesla</li>
	<li>Twitch</li>
	<li>Two Sigma</li>
	<li>Wayfair</li>
	<li>ZX Ventures</li>
</ul>

{% endblock content %}