{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Make a Difference</h2><br>

<div style="text-align: center;">
<iframe width="80%" height="350px" src="https://www.youtube.com/embed/EyWnlGjpdQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br><br>

<div align="left">

<img id="phil-pic-1" src="{% static 'general/images/phil1.jpg' %}">

<p>All Alpha Chi Omega members are dedicated to raising awareness and educating others about domestic violence.</p>

<h3>We Support...</h3><br>

<h4>Domestic Violence Awareness Month</h4><br>

<p>To fight against unhealthy relationships and to work towards building healthier ones, our sisters dedicate an entire month of October to raise awareness inside and outside of the organization.</p><br>

<h4>Healthy Relationships Week</h4><br>

<p>This is a week meant to encourage individuals to define what love means.  Through programs like the "Love is..." campaign, carnation sales, and various social media posts, we try to foster healthy relationships around campus.</p><br>

<img id="phil-pic-2" src="{% static 'general/images/barcc.png' %}">

<h4>BARCC</h4><br>

<p>Our fundraisers during Healthy Relationships Week raise money for the Boston Area Rape Crisis Center. We continually provide support for direct and indirect victioms of domestic and sexual violence within our wider community in the greater Boston area.</p>

<br>

</div>

{% endblock content %}
