{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Recruitment</h2><br>

<div style="text-align: center;">
    <iframe width="80%" height="350px" src="https://www.youtube.com/embed/kGSWV82kn9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br><br>

<img id="recruitment-pic" src="{% static 'general/images/recruitment.jpg' %}">
<p class='left-align'>
<i>"I joined AXO because of the amazing upperclassmen I met. They embodied the aura of real, strong women and I viewed many of them as role models. I have stayed in AXO because I hope that I can be a role model for younger women joining the chapter."</i> -AXO sister, class of '19
<br><br>
Sorority women often get less than flattering portrayals on TV and in movies. So why go Greek? The truth is that sororities have been making positive impacts for decades. Whether through academic pursuits, leadership development, community service, or just making lifelong friends, Greek organizations offer plenty of benefits to its members.
<br><br>
If you go Greek, you will: <br><br>

1. You become part of a friendship circle and ever-growing network.<br><br>
Friends will be a big part of your support system throughout your lifetime. Countless individuals have bonded with fellow Greek members, and built amazing friendships and networks.<br><br>

2. You'll succeed academically.<br><br>
Sororities at MIT will greatly add onto your academic experience. The average GPA of sorority women on campus is 4.48/5.0. Having upperclassmen sisters is very helpful as they can help you navigate your classes and the beginning of your careers, by giving you advice or referrals.<br><br>

3. You'll have a public service commitment. <br><br>
Every Greek organization supports a certain philanthropy, for example, Domestic Violence Awareness. Through fundraising and awareness events, Greek undergraduates raise about $7 million a year for local and national charities.
<br><br>
For more information about the recruitment process please visit our <a href='http://axo.mit.edu/faq/' target="_blank">Frequently Asked Questions</a><br> page or contact us with any questions you may have. We can't wait to meet you in the fall!
<br><br><br><br>
</p>
<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>
{% endblock content %}
