{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Recruitment</h2><br>
<img id="recruitment-pic" src="{% static 'general/images/recruitment.JPG' %}">
<p class='left-align'>
<i>"I joined AXO because of the amazing upperclassmen I met. They embodied the aura of real, strong women and I viewed many of them as role models. I have stayed in AXO because I hope that I can be a role model for younger women joining the chapter."</i> -AXO sister, class of '19
<br><br>
Sorority women often get less than flattering portrayals on TV and in movies. So why go Greek? The truth is that sororities have been making positive impacts for decades. Whether through academic pursuits, leadership development, community service, or just making lifelong friends, Greek organizations offer plenty of benefits to its members.
<br><br>
For more information about the recruitment process please visit our Frequently Asked Questions Page or contact us with any questions you may have. We can't wait to meet you in the fall!
<br><br><br><br>
</p>
<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>
{% endblock content %}
