{% extends 'general/base.html' %}
{% load static %}
{% block content %}

<h2>Sisterhood</h2>
​<br>
<div id = 'sisterhood'>
  <img id='sisterhood-pic' src="{% static 'general/images/ring_prem_PRC.JPG' %}"/>
</div>
<div align="left"><h3>AXO Events</h3></div>
<br>
<p class="left-align">
Alpha Chis want all our sisters to have a great time with one another.  We are one of the few sororities to have an executive position specifically responsible for membership-only events.
<br><br>
Some of our chapter-wide events include our bi-annual retreats, Big-Little revelations night, mixers with other MIT fraternities, and sleepovers at the house!  Each semester, we also host a formal for our sisters and friends at nearby restaurants or venues.  Some other popular events include our philanthropy fundraisers and events and our annual Fondue Night in the fall.  Besides our official events, Alpha Chis spend time together exploring Boston, traveling for spring break, going to music festivals, and studying abroad.</p>
<br>
<div id = 'sisterhood'>
  <img id='big-little' src="{% static 'general/images/kats_brickwall.jpg' %}"/>
</div>
<div align="left"><h3>Bigs and Littles</h3></div>
<br>
<p class="left-align">
One of the most important parts of Alpha Chi Omega is our Big-Little pairing process and the resulting family line relationships.  The Big-Little system gives every sister a mentor and friend to whom to go with questions about MIT and AXO, as well as an entire family line of Big-Bigs and their Bigs, and so on.  Through your family line, you can get to know other Alpha Chis in different years at MIT.  Some family lines make time as often as every week to go out to lunch!
</p>
<br>

{% endblock content %}
