{% extends 'general/base.html' %}

{% block content %}
<h1>Sisterhood</h1>
​
<div id = 'sisterhood'> 
We are one of the few sororities to have an executive position specifically designed for membership only events. We want all our sisters to have a great time! Some of our events include our bi-annual retreats, Big-Little revelations, service mixers with a fraternity, as well as sleepovers at the house! Ever year, Alpha Chi's plan events together including music festivals, spring break vacations, and studying abroad. Some of our favorite memories have come from times spent with sisters as we strengthen our bond.
​<br><br>
Even though we have a chapter with such diverse interests and personalities, we are all close as a whole. Below is a glimpse of some of the many sisterhood events we formally do as well as other events our sisters find themselves enjoying.
</div>
{% endblock content %}